.godot/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Mm]emoryCaptures/
[Ex]portMesh/
[As]sets/AssetStoreTools*
.vs/
.consulo/
ExportedObj/

*.kra~
*.krz~
.*.kra.autosave
.*.krz.autosave
*.uid
*.tmp
export_presets.cfg
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

SysInit.txt
crashlytics-build.properties
.DS_Store
Thumbs.db
Desktop.ini
